@use '../colors.scss' as colorVar;
header.primary-header {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


ul.top-contacts li p span,
ul.top-contacts p a,
ul.top-links li a {
    color    : colorVar.color(medium-grey);
    font-size: 0.8em;
}


ul.top-contacts li.top-hover a:hover,
ul.top-contacts li.top-hover span:hover,
ul.top-contacts li.top-hover:hover,
ul.top-links a:hover {
    color: colorVar.color(dark-grey);
}

ul.top-links li select.goog-te-combo {
    border-radius   : 4px;
    border          : 1px solid colorVar.color(light-grey-secondary);
    background-color: colorVar.color(white);
    color           : colorVar.color(medium-grey);
    height          : 25px;
    font-size       : 1.2em;
    margin          : 0 !important;
}