@use '../colors.scss' as colorVariable;
.is-invalid {
    border-color: colorVariable.$bg-accent;
}

form.border-white .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 255, 255, 1);
}

.cmp-h-1x {
    height: 300px;
}

.cmp-h-1_5x {
    height: 350px;
}

.cmp-h-2x {
    height: 400px;
}

.cmp-h-2_5x {
    height: 450px;
}

.cmp-h-3x {
    height: 500px;
}

.cmp-h-3_5x {
    height: 550px;
}

.cmp-pt-6,
.cmp-py-6 {
    padding-top: 4rem !important;
}
.cmp-pb-6,
.cmp-py-6 {
    padding-bottom: 4rem !important;
}

.pr-6,
.cmp-px-6 {
    padding-right: 4rem !important;
}
.pl-6,
.cmp-px-6 {
    padding-left: 4rem !important;
}

.cmp-pt-7,
.cmp-py-7 {
    padding-top: 5rem !important;
}
.cmp-pb-7,
.cmp-py-7 {
    padding-bottom: 5rem !important;
}

.pr-7,
.cmp-px-7 {
    padding-right: 5rem !important;
}
.pl-7,
.cmp-px-7 {
    padding-left: 5rem !important;
}

.cmp-font-x-small {
    font-size: 0.625rem !important;
}

.cmp-font-small {
    font-size: 0.813rem !important;
}
.cmp-font-default {
    font-size: 1rem !important;
}
.cmp-font-1x {
    font-size: 1.125rem !important;
}
.cmp-font-1_5x {
    font-size: 1.5rem !important;
}
.cmp-font-2x {
    font-size: 1.75rem !important;
}
.cmp-font-3x {
    font-size: 2.25rem !important;
}
.cmp-font-4x {
    font-size: 3rem !important;
}
.cmp-card-1x {
    min-height: 100px;
}
.card-editor {
    position: absolute !important;
    right: 0;
    top: 0;
}
.bg-grey {
    background: colorVariable.$color-light-grey-1 !important;
}

.bg-darkgreen {
    background: colorVariable.$color-dark-green !important;
}
.bg-lightgrey {
    background-color: colorVariable.$color-light-grey-3 !important;
}

.text-darkgreen {
    color: colorVariable.$color-dark-green !important;
}

.text-grey {
    color: colorVariable.$color-medium-grey-3 !important;
}

.text-grey-secondary {
    color: colorVariable.$color-medium-grey-2 !important;
}

.text-mediumgrey {
    color: colorVariable.$color-medium-grey-1;
}

.text-mediumgrey-secondary {
    color: colorVariable.$color-medium-grey-2;
}
.text-yellow {
    color: colorVariable.$color-accent;
}
